<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="apptitle">Vue.js Theater</div>
      <div class="movie" @wheel.prevent="Wheel">
        <div class="cards" :class="{ isCartOpen: isCartOpen }">
          <div class="card" v-for="movie in movies.data">
            <div class="left">
              <div class="cover" :style="bgcss(movie.cover)"></div>
            </div>
            <div class="right">
              <h2>{{ movie.name }}</h2>
              <h4>{{ movie.type }}</h4>
              <p v-html="movie.description"></p>
              <div class="price">{{ movie.price }}$</div>
              <button class="add" @click="addCart(movie, $event)">
                +Add to My Cart
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="buybox"
        :style="bgcss(currentMovie.cover)"
        v-if="currentMovie"
      ></div>
      <div class="fixed-control" @click="(isCartOpen = !isCartOpen)">
        <i class="fa fa-shopping-cart"></i><span>{{ cart.length }}</span>
      </div>
      <div class="control" :class="{ isCartOpen: isCartOpen }">
        <div class="panel">
          <h2>My Movie Cart</h2>
          <ul>
            <li v-for="(movie,mid) in cart">
              <div class="thumbnail" :style="bgcss(movie.cover)"></div>
              <h3>
                {{ movie.name }}
                <div class="price">{{ movie.price }}$</div>
                <div class="remove" @click="cart.splice(mid, 1)">-</div>
              </h3>
            </li>
            <li v-if="!cart.length">
              <h3>Your Cart is empty!</h3>
            </li>
          </ul>
          <hr />
          <h2>{{ totalPrice }}$</h2>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script>
      const { ref, reactive, computed, onMounted } = Vue;
      const App = {
        setup() {
          const apiUrl = "https://awiclass.monoame.com/api/command.php?type=get&name=movies";
          const isCartOpen = ref(false);
          const movies = reactive({data: []});
          const cart = reactive([]);
          const currentMovie = ref(null);

          const bgcss = (url) => {
            return {
              "background-image": "url(" + url + ")",
              "background-size": "cover",
              "background-position": "center center",
            };
          };

          const addCart = (movie, evt) => {
            currentMovie.value = movie;
            let target = evt.target;
            TweenMax.from(".buybox", 0.8, {
              left: $(evt.target).offset().left,
              top: $(evt.target).offset().top,
              opacity: 1,
              ease: Power1.easeOut,
            });
            setTimeout(() => {
              cart.push(movie);
            }, 800);
          };

          const totalPrice = computed(() => {
            return cart
              .map((movie) => movie.price)
              .reduce((total, p) => total + p, 0);
          });

          const Wheel = (e) => {
            TweenMax.to(".cards", 0.8, {
              left: "+=" + e.deltaY * 2 + "px",
            });
          };

          onMounted(() => {
            axios.get(apiUrl).then((res) => {
              movies.data = res.data;
              console.log(movies);
            });
          })

          return {
            isCartOpen,
            movies,
            cart,
            currentMovie,
            Wheel,
            bgcss,
            totalPrice,
            addCart,
          };
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
